<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
          <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Comencemos</h1>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
            Este proyecto lo desarrollé utilizando <strong>Angular 19</strong>, con el objetivo de crear una plataforma eficiente y sencilla para la gestión de mantenimientos de empresas y colaboradores. La idea era facilitar el seguimiento y control de las empresas, sus colaboradores y los mantenimientos que realizan. Así, logré crear una solución práctica, donde los usuarios pudieran gestionar de manera sencilla todos estos aspectos.
          </p>
      </div>
      <div class="grid md:grid-cols-2 gap-8">
          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
              <a href="#" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                  <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                      <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                  </svg>
                  Diseño
              </a>
              <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Tecnologías Utilizadas</h2>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Para garantizar una solución moderna y escalable, utilicé las siguientes tecnologías:
              </p>
              <ul class="list-inside list-disc text-lg font-normal text-gray-500 dark:text-gray-400">
                <li><strong>Angular 19</strong>: El framework que utilicé para construir la aplicación, proporcionando una estructura sólida y escalabilidad.</li>
                <li><strong>Firebase</strong>: Elegí esta base de datos en tiempo real para almacenar los datos de empresas, colaboradores y mantenimientos, lo que me permitió realizar la sincronización en tiempo real.</li>
                <li><strong>Flowbite</strong>: Utilicé esta biblioteca de componentes basada en Tailwind CSS para desarrollar una interfaz moderna, eficiente y completamente responsiva.</li>
                <li><strong>HTML y CSS</strong>: Son los lenguajes de marcado y estilo que empleé para la estructura y el diseño de la página, asegurando que la experiencia de usuario fuera atractiva y fluida.</li>
              </ul>
          </div>
          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
              <a href="#" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                  <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                  </svg>
                  Código y Lógica
              </a>
              <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Material de Apoyo</h2>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Para desarrollar este proyecto, utilicé la documentación oficial de <strong>Angular 19</strong>, lo que me permitió enriquecer mis conocimientos y aplicar mejores prácticas en el desarrollo. También empleé <strong>Firebase</strong> como base de datos en modo de prueba, implementando un <strong>CRUD completo</strong> para gestionar diversas entidades:
              </p>
              <ul class="list-inside list-disc text-lg font-normal text-gray-500 dark:text-gray-400">
                <li>Países</li>
                <li>Departamentos</li>
                <li>Municipios y sus respectivas dependencias</li>
                <li>Empresas y Colaboradores</li>
              </ul>
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
                Este material de apoyo fue clave para el desarrollo, ya que me permitió implementar funcionalidades cruciales, como la gestión de datos en tiempo real y la administración eficiente de las entidades mencionadas.
              </p>
          </div>
      </div>
  </div>
</section>

<footer class="bg-white rounded-lg shadow-sm m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://flowbite.com/" class="hover:underline">Eddy Elias Villatoro Gómez</a>. Todos los derechos reservados.</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://www.linkedin.com/in/eliasvillatoro01/" class="hover:underline me-4 md:me-6" target="_blank">LinkedIn</a>
      </li>
      <li>
          <p class="me-4 md:me-6">Tel. (+502) 5489-0516</p>
      </li>
      <li>
          <a href="#" class="hover:underline me-4 md:me-6"></a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
